body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #28a745;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 300px;
    margin: 15px;
    padding: 10px;
    background: #e3f2fd;
    border-radius: 5px;
}

.project img {
    max-width: 300px;
    max-height: 700px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media(max-width: 768px){
.Timeline{
    width: 100%;
 }
}